// button
.add_to_cart_button {
  width: 100%;
  border: 1px solid $custom--secondary;
  background-color: $custom--white;
  color: $custom--secondary;
  padding: 5px 30px;
  border-radius: 20px;
  
  &:hover{
    background-color: $custom--secondary;
    color:$custom--white;
  }
}

.qty_button {
  border: 1px solid $custom--black;
  background-color: $custom--white;
  padding: 1px 6px;
  border-radius: 2px;
  width: 25px;
  &:hover{
    background-color: $custom--black;
    color:$custom--white;
  }
}

// input
.qty_input {
  width: 50px;
  padding: 0 2px;
  text-align: center;
}