.cart_main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0;

  &_table {
    h6 {
      font-weight: bold;
      margin: 0;
    }
  
    &_head {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      background-color: $custom--main;
      color: white;
      @include mediaquery_phone {
        display: none;
      }
    }
  
    &_body_row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #878787;
      padding: 20px 30px;
      @include mediaquery_phone {
        flex-wrap: wrap;
      }
  
      &:hover {
        background-color: $gray-300;
      }
  
      &_img {
        width: 100px;
        display: inline-block;
        margin-right: 10px;
        a {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
  
    &_foot {
      border-top: 1px solid #878787;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      div {
        flex: 1 0 auto;
        text-align: end;
        margin: 0 20px;
        font-size: 18px;
      }
  
      button {
        margin: 20px 0;
        width: 150px;
        i {
          margin-left: 0 5px;
        }
      }
    }  
  }
}

.cart_main_table_body_item {
  &:first-child {
    flex: 0 1 250px;
  }

  &:nth-child(2) {
    flex: 0 1 100px;
  }

  &:nth-child(3) {
    flex: 0 1 150px;
  }

  &:nth-child(4) {
    flex: 0 1 80px;
  }

  &:last-child{
    flex: 0 1 50px;
  }
}

.cart_main_modal {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#clearModal {
  .modal-footer {
    button:first-child{
      border:1px solid $custom--secondary;
      color: $custom--secondary;
      &:hover {
        background-color: $custom--secondary;
        color: white;
      }
    }
    button:last-child{
      background-color: $custom--secondary;
      color: white;
      &:hover {
        background-color: darken($custom--secondary,15%);
      }
    }
  }
}