// * {
//   font-family: 'Raleway';
// }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2em;
}

.product_nav_margin{
  margin-top: 5em;
}

ul{
  padding: 0;
  li{
    list-style: none;
  }
}

button {
  border: none;
  background: none;
}

a{
  text-decoration: none;
  color: #666666;
  &:hover{
    text-decoration: none;
  }
}

.global_stars {
  background: $custom--main;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 5rem;
  right: 2.8rem;
  z-index: 3;
  i {
    font-size: 27px;
    margin-top: 4px;
    color: white;
  }
  div {
    border-radius: 50%;
    background: $custom--black;
    width: 25px;
    height: 25px;
    padding-top: 1px;
    position: absolute;
    top: -15px;
    right: -6px;
    color: $custom--white;
  }
}