.index_banner {
  width: 100%;
  height: 400px;
  background-image: url('https://cdn.pixabay.com/photo/2017/08/06/12/06/people-2591874_1280.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h2 {
    position: absolute;
    bottom: 8rem;
    left: 7rem;
    font-weight: bold;
    transition: all 1s;
    @include mediaquery_phone {
      left: 2rem;
    }
  }
  p {
    position: absolute;
    bottom: 5rem;
    left: 17rem;
    font-weight: bold;
    font-size: 20px;
    transition: all 1s;
    @include mediaquery_phone {
      left: 2rem;
      font-size: 16px;
    }
  }
}

.index_category {
  text-align: center;
  margin: 40px 0;
  h3 {
    font-size: 28px;
    padding: 10px 0;
    border-bottom: 4px solid $custom--main;
    width: 300px;
    margin: 0 auto;
  }

  i{
    color: red;
  }
}

.index_category_flex {
  display: flex;
  justify-content: space-around;
  margin: 50px 20px;

  @include mediaquery_phone {
    flex-wrap: wrap;
    margin: 50px auto;
  }

  button {
    border: none;
    background: none;
  }
}

.index_category_flex_item {
  div{
    border:1px dashed black;
    display: inline-block;
    border-radius: 50%;
    padding: 3px;
    position: relative;
  
    &:hover {
      animation: rotate 10s linear infinite;
    }
  
    &:before {
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #FAC670;
    }
  }

  &:nth-child(2) {
    div {
      &:before {
        background-color:#FCA175;
      }
    }
  }

  &:nth-child(3) {
    div {
      &:before {
        background-color:#F36300;
      }
    }
  }

  &:nth-child(4) {
    div {
      &:before {
        background-color:#91C3C1;
      }
    }
  }

  &:nth-child(5) {
    div {
      &:before {
        background-color:#008481;
      }
    }
  }

  &:nth-child(6) {
    div {
      &:before {
        background-color:#BEA8E6;
      }
    }
  }

  span {
    display: block;
  }
}

.index_latest {
  height: 500px;
  padding: 40px 0;
  margin-bottom: 9rem;
  @include mediaquery_pad {
    height: auto;
    padding: 0;
  }

  &_flex {
    margin: 50px 20px;
  }

  h3 {
    font-size: 28px;
    padding: 10px 0;
    border-bottom: 4px solid $custom--main;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  &_item {
    display: inline-block;
    position: relative;
    border: 1px solid $gray-300;
    padding: 20px;
    height: 330px;
    transition: all .5s ease-in;

    &:hover &_more {
      margin-top: 30px;
      display: block;
    }

    @include mediaquery_phone {
      height: 380px;
    }

    &_more {
      margin-top: 10px;
      display: none;
      border: none;
      background: $custom--secondary;
      color: white;
      padding: 5px 30px;
      border-radius: 20px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%);

      @include mediaquery_phone {
        display: block;
      }
    }

    &_btn {
      position: absolute;
      top: 11px;
      right: 5px;
      border: none;
      background: none;
      vertical-align: middle;

      i {
        font-size: 20px;
      }
    }

    &_badge {
      position: absolute;
      top: 15px;
      left: 15px;
      background: $custom--secondary;
      color: white;
    }
    h5 {
      font-size: 16px;
    }
    p{
      font-size: 18px;
    }
    &_img {
      width: 200px;
      margin: 0 auto;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    span {
      vertical-align: middle;
    }
    &_price {
      font-size: 18px;
      margin-right: 10px;
      font-weight: bold;
      color: $custom--secondary;
    }

    &_origin {
      font-size: 16px;
      font-weight: bold;
      color: $custom--third;
      text-decoration: line-through;
    }
  }
}

.index_latest_item.index_hover {
  &:hover {
    height: 380px;
  }
}

#index_album{
  width: 100%;
  border-top: 5px solid $custom--black;
}

.VueCarousel{
  text-align: center;

  .VueCarousel-navigation-button {
    font-size: 28px;
    top: 41%;
    font-weight: bold;
  }
}

.index_album_img {
  max-height: 150px;
  transition: all .5s;

  @include mediaquery_phone {
    max-height: 80px;
  }
}

@keyframes rotate{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes h3_width{
  from {
    width: 0px;
  }
  to {
    width: 300px;
  }
}

@keyframes item_height {
  from {
    height: 330px;
  }
  to {
    height: auto;
  }
}