.index_header {
  background: $custom--black;

  header {
    position: relative;
    height: 520px;
    z-index: 2;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/29/12/07/adult-2693054_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include mediaquery_phone {
      height: 300px;
    }
    h1 {
      position: absolute;
      left: 50px;
      bottom: 50px;
      font-size: $custom--h1;
      text-transform: uppercase;
      text-align: center;
      color: $custom--white;
      @include mediaquery_phone {
        font-size: $custom--h1--phone;
      }
    }
  }
}

#index_about{
  background-color: $custom--black;
  padding: 5em;
  h2{
    font-size: $custom--h2;
    padding: 20px 0;
    color: $custom--white;
  }
  p{
    color: $custom--white;
  }
}

.index_main{
  max-width: 1140px;
  background-color: $custom--white;
  margin: 0 auto;
  padding-bottom: 150px;

  &_title{
    text-align: center;
    padding: 80px 0 30px 0;
  }
  
  &_category{
    font-size: 0;
    @include mediaquery_phone{
      display: flex;
      flex-direction: column;
    }
    div{
      font-size: 30px;
      color: $custom--white;
      position: relative;
      margin:0 5px;
      display: inline-block;
      width: calc(33% - 10px);
      height: 200px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('https://cdn.pixabay.com/photo/2018/03/29/21/04/knowledge-3273685_1280.jpg');
      &:hover{
        transform: perspective(250px) translateZ(15px);
        border: 3px solid $custom--green;
      }
      @include mediaquery_phone{
        width: 100%;
        height: 200px;
        margin: 10px auto;
      }
    }
    h4{
      position: absolute;
      bottom: 10px;
      right: 20px;
      color: $custom--white;
      font-size: $custom--h4;
      background-color: $custom--green;
      border-radius: .25rem;
      padding: 8px 20px;
      opacity: .8;
      &:hover{
        transform: perspective(250px) translateZ(15px);
        border: 3px solid $custom--green;
        opacity: 1;
      }
    }
    .biggest_up{
      margin-bottom: 10px;
      width: calc(99% - 10px);
      height: 350px;
      background-image: url('https://cdn.pixabay.com/photo/2016/11/19/14/56/backpack-1839705_1280.jpg');
      @include mediaquery_phone{
        width: 100%;
        height: 200px;
      }
      h4{
        bottom: 30px;
        right: 40px;
      }
    }
  }
}

#index_album{
  width: 100%;
  border-top: 5px solid $custom--black;
}

.VueCarousel{
  text-align: center;
}