.front_nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 3;
  height: 5rem;
  width: 100%;
  background: $custom--black;
  .container{
    position: relative;

    &_img {
      width: 115px;
      position: absolute;
      top: -10px;
      left: 10px;
      img{
        width: 100%;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
    @include mediaquery_pad {
      background-color: $custom--grey;
      position: fixed;
      top: 5rem;
      right: -100%;
      width: 100%;
    }
  }

  .open {
    transition: all .8s;
    right: 0;
  }

  li {
    display: inline-block;
    padding: 2rem;
    text-align: center;
    transition: all .2s;
    color: $custom--white;
    cursor: pointer;
    &:nth-child(3) {
      position: relative;
    }
    &:last-child {
      padding-right: 0;
    }
    &:hover {
      color: $custom--grey;
    }
    @include mediaquery_pad {
      display: block;
      &:last-child {
        padding-right: 2em;
        color: $custom--black;
      }
    }
  }
  a {
    color: $custom--white;
    transition: all .3s;
    &:hover {
      color: $custom--grey;
      text-decoration: none;
    }
    @include mediaquery_pad {
      color: $custom--black;
    }
  }

  .router-link-exact-active {
    border-bottom: 3px solid $custom--main;
  }
  
  .hamburger{
    position: absolute;
    right: 0;
    padding: 2em;
    display: none;
    @include mediaquery_pad {
      display: block;
    }
  }

  &_cart {
    position: fixed;
    color: $custom--black;
    top: 6em;
    right: 2em;
    width: 350px;
    background: $gray-300;
    padding: 8px;
    border-radius: 5px;

    &_contain{
      display: flex;
      align-items: center;
      padding: 10px;
      border-bottom: 1px solid $gray-600;
    }

    &_img {
      width: 30px;
      img{
        width: 100%;
      }
    }

    &_title {
      flex: 1 0 auto;
      margin: 0 10px;
    }

    h6, p {
      margin: 0;
    }

    &_trash {
      border: none;
      background: none;
      
      i{
        font-size: 16px;
      }
    }

    .add_to_cart_button {
      margin: 15px 0 5px 0;
    }
  }
}

.cart_num {
  border: 1px solid $tiffany;
  background: $tiffany;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: $custom--white;
  position: absolute;
  top: 13px;
  right: 8px;
}